<br>
<div class="container">
    <div class="row">
        <div class="col-lg-12">
            <p class="footer text-center">
                Moviz <script> document.write(new Date().getFullYear()) </script>
                &copy; Wszelkie prawa zastrzeżone przez: 
                <a href="https://mkdportfolio.pl">MK</a>
                <br>
                <a href="https://mkmoviz.herokuapp.com/login">panel administracyjny</a>
            </p>
        </div>
    </div>
</div>

</body>
</html>