<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Cookie&family=Roboto:ital,wght@0,100;0,400;1,300&display=swap" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
	<link href="https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,400;1,300&display=swap" rel="stylesheet">
    <script src="https://ajax.aspnetcdn.com/ajax/jQuery/jquery-3.3.1.js" async></script>
    <link href="https://fonts.googleapis.com/css?family=Nunito:200,300,400,700" rel="stylesheet">
    <script src="https://kit.fontawesome.com/b2ec1cb26d.js" crossorigin="anonymous" async></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="/style.css">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous" async></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous" async></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous" async></script>
    <title><%= header %></title>
</head>
<body>
    <% if(currentUser){ %>
        <nav class="navbar navbar-expand-lg navbar-dark bg-gradient">
        <div class="container">
            <a class="navbar-brand logo" href="/">
                <i class="fas fa-film" style="color: white;"></i> Moviz
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation" style="border:none;">
                <span class="navbar-toggler-icon"></span>
            </button>
            
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto text-center">
                    <% if(typeof questions !== 'undefined'){ %>
                        <li class="nav-item">
                            <a class="nav-link active" href="/dashboard">Pytania</a>
                        </li>
                    <% } else { %>
                        <li class="nav-item">
                            <a class="nav-link" href="/dashboard">Pytania</a>
                        </li>
                    <% } %>
                   
                    <li class="nav-item">
                        <a class="nav-link" href="/questions/new">Dodaj pytanie</a>
                    </li>
                    <li class="nav-item">
                        <a href="/admin/<%= currentUser._id %>/edit" class="nav-link">Edytuj informację</a>
                    </li>
                    <% if(typeof admins !== 'undefined'){ %>
                        <li class="nav-item">
                            <a class="nav-link active" href="/admin">Administratorzy</a>
                        </li>
                    <% } else { %>
                        <li class="nav-item">
                            <a class="nav-link" href="/admin">Administratorzy</a>
                        </li>
                    <% } %>
                   
                   
                   
                    
                    
                        
                    <li class="nav-item">
                        <a href="/logout" class="nav-link">Wyloguj</a>
                    </li>
                    
                   
                </ul>
            
            </div>	
        </div>	
     
        
        
    </nav>

    <% } else { %>
        <div class="container-full">
            <div class="row">
                <div class="col-lg-12" id="header">
                    <h1 id="link">
                        <a href="/">Moviz</a>
                    </h1>
                </div>
            </div>
        </div>
    <% } %>
   
    