<%- include("partials/header") %>
<br>
<div class="container">
    <div class="row">
        <div class="col-lg-12 text-center">
            <i class="fas fa-times bg-danger fa-5x icon" style="color: white;"></i>
            <p class="title text-danger">404 - strona nie znaleziona</p>
            <p class="section text-danger">
                Kliknij w nazwę aplikacji, by przenieść się do strony z wyborem pytania.
            </p>
        </div>
    </div>
</div>
<%- include("partials/footer") %>